body {
    background-color: #D7CFC0;
    background-repeat: repeat;
    text-align: center;
    color: #000;
    min-height: 100%;
    font-family: 'Courier New', monospace;
  }

h2 { 
font-size: 25px;
}

p { 
font-size: 10pt;
}

#image-gallery { 
width: 600px; 
margin: auto;
}

#current-image { 
width: 100%;
}

#image-thumbs { 
display: flex; 
justify-content: center; 
margin-top: 20px;
margin-bottom:10px;
}

.thumb { 
width: 80px; 
height: 80px; 
object-fit: cover; 
margin-right: 10px; 
cursor: pointer;
}